@media only screen and (max-width: 1300px) {
    /* styles to apply when the screen width is less than 600px */
    body {
      font-size: 10px;
    }

    h1 {
        font-size: 16px;
    }

    h2, #upload {
        font-size: 12px;
    }

    th, td {
        text-align: center !important;
        /* padding: 10px; */
    }
  }



body{
    font-family: Arial, sans-serif;
    background-color: #0d1116;
    color: white;
    height: 100vh;
    /* margin: 30px; */
}


h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2, #upload {
    margin-left: 20px;
    /* margin-top: 20px; */
}

table {
    width: 100%;
    border-collapse: collapse;
    /* border-collapse: separate;  */
}

@media only screen and (min-width: 1300px) {
    th, td {
        text-align: left;
        padding: 10px;
    }
}

th {
    background-color: #5686f5; 
    color: white;
    border: 1px solid #5686f5 !important;
    width: 200px; 
}

a{
    color: white;
}

a:hover {
    color: green;
}

tr {
    border: 1px solid #0d1116;
}

tr:hover {
    background-color: #242a31 !important;
    border: 1px solid #e9e9e9; 
}

tr:nth-child(even) {
    background-color: #191e27;
}

#delete_button {
    background-color: #5686f5;  /* red background */
    color: #ffffff;
}

#delete_button:hover {
    background-color: #ff0000;  /* red background */
}

#delete_all_button {
    background-color: #5686f5;  /* red background */
    color: #ffffff;
    margin:  24px;          /* 24px left margin */
    padding: 10px;
}

#delete_all_button:hover {
    background-color: #ff0000;  /* red background */
}


form {
    display: inline-block;
}
