@media only screen and (max-width: 600px) {
    /* styles to apply when the screen width is less than 600px */
    body {
      font-size: 12px;
    }
    table {
      width: 50%; /* reduce the width of the table */
    }
  }
    

body {
    font-family: Arial, sans-serif;
    background-color: #0d1116;
    color: white;
    height: 100vh;
}


h1 {
    text-align: center;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* border-collapse: separate;  */
}

th, td {
    text-align: left;
    padding: 18px;
    width: 200px; /* increase the width of the cells */
}

  
th {
    background-color: #5686f5; 
    /* #161b22 */
    color: white;
}

tr {
    border: 1px black;
}

tr:hover {
    background-color: #242a31 !important;
    border: 1px solid #e9e9e9;
}




tr:nth-child(even) {
    background-color: #191e27;
    /* border: 1px solid white; */
}







form {
    display: inline-block;
}

  



